div {
  color:whitesmoke;
}

a {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

h3 {
  color: whitesmoke;
  margin-top: 15px;
}

h4 {
  color: whitesmoke;
}

.fakehr {
  border: 0;
  height: 1px;
  width: 80%;
  margin:auto;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

.storeBlock {
  background-color: #080808;
  border: 1px solid #222;
  width: 75%;
  margin: auto;
}

.woodSelect {
  background-color: #111;
  border: 1px solid #222;
  display: inline-block;
  margin:10px;
  padding: 8px;
  border-radius: 15px;
}
.woodSelected {
  background-color: rgb(124, 158, 177);
  border: 1px solid #222;
  display: inline-block;
  margin:10px;
  padding: 8px;
  border-radius: 15px;
}

.removeFromCart {
  font-size: smaller;
  background-color: #333;
  border: 1px solid #222;
  display: inline-block;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}
