<p>This page is under construction. To purchase a phone puck please email me at: <a href="mailto:coldclimb@gmail.com">coldclimb@gmail.com</a></p>

<div class="storeBlock">
  <h4>Your Shopping Cart:</h4>
  <div class="fakehr"></div>
  <p *ngIf="!cartService.cartFull">Your shopping cart contains no items. Add a puck below!</p>

  <div *ngIf="cartService.cartFull">
    <div *ngFor="let item of cartService.$cart" class="woodSelect">

      <img src="{{woodImage(item.wood)}}"><br>
      {{item.wood}}<br>
      {{item.width}}<br>
      Notes: {{item.notes}}<br>

      <div class="removeFromCart" (click)="removeFromCart(item)">
        Remove from cart
      </div>

    </div>
    <br clear="all">
  </div>
  <div class="fakehr"></div>

  <div style="width:200px; float:right; margin-right: 50px;">
    <h5 style="margin-bottom: 10px;">Cart Total: ${{((this.cartService.$cart.length)*20)}} (USD)</h5>
    <button (click)="openModal()" mat-mini-fab >Check Out</button>
    <!-- <div id="PayPalButtons" hidden></div> THIS DIV IS ONLY HERE TO MAKE THE SCRIPT LOAD CORRECTLY -->
  </div><br clear="all">

</div>

<h3>Build yourself a puck</h3>



<div class="storeBlock">

  <form [formGroup]="puckBuilder" onsubmit="addToCart()">



    <p>Select a wood:</p>
    <div style="text-align: center;">
      <div *ngFor="let w of woods()" [ngClass]="amISelectedWood(w.type)" (click)="this.puckBuilder.controls.wood.setValue(w.type)">
        <input formControlName="wood" value="{{w.type}}" hidden required>
        <img src="{{w.img}}"><br>{{w.type}}
      </div>
    </div>

    <p>Select a slot size:</p>
    <div style="text-align: center;">
      <div *ngFor="let s of slots()" [ngClass]="amISelectedWidth(s.width)" (click)="this.puckBuilder.controls.width.setValue(s.width)">
        <input formControlName="width" value="{{s.width}}" hidden required>
        <img src="{{s.img}}"><br>{{s.width}}
      </div>
    </div>

    <p></p>

    <p>Optional - Add any notes for the maker:</p>
    <input type="text" formControlName="notes">

    <p></p>

    <button type="button" [disabled]="!puckBuilder.valid" class="btn btn-secondary" style="margin-bottom: 20px;" (click)="addToCart(this.puckBuilder.controls.wood.value, this.puckBuilder.controls.width.value, this.puckBuilder.controls.notes.value)">Add to Cart</button>
  </form>



</div>

<br clear="all"><br><br>


