<div style="width: 750px; margin:auto;">
  <div style="width: 400px; float: left; margin: 3px;">
    <img src="../../assets/about.jpg" width="400">
  </div>
  <div style="width: 300px; float: left; margin: 5px; color: white;">
    <p>Hi I'm John.<br>I'm an artist engaged in creating beautiful things out of the warm medium of wood. Phone pucks came about out of convenience. I like to watch things on my phone while I eat, and having to prop my phone up on various objects all the time was annoying. I needed a means of holding up my phone, and at the same time I wanted it to be a beautiful element that could remain on the table and not be out of place.</p>
    <p>In addition to their beauty and function, phone pucks also serve me well by being small, portable, and nearly indestructible. I carry one in my laptop case for use at coffee shops, and their function has caught the attention of my friends, many of whom now have a phone puck on their own dining tables.</p>
    <p>My mission with this online shop is to make my phone pucks available to the rest of the world in a manner I can sustain out of my home.</p>
  </div>
</div>

<br clear="all"><br>

